<input type="text" ng-model="name" placeholder="Product name"/>
<input type="text" ng-model="price" placeholder="Product price">
<input type="button" value="Add Product" ng-click="addProduct(name, price)"/>
<br/>
<hr/>

<ul>
    <li ng-repeat="(name, price) in products">
      {{name}} - {{price}}
      <input type="button" value="+" ng-click="addToBasket(name)"/>
      <input type="button" value="-" ng-click="removeFromBasket(name)"/>
    </li>
</ul>

<ul>
  <li ng-repeat="(name, quan) in basket">
    <span ng-if="quan > 0">
      {{name}} ({{quan}} items): total is {{quan * products[name]}}
    </span>
  </li>
</ul>

<p>Total is {{net}}</p>
